<footer>
	<img src="{{ 'assets/babyfeet.jpg' | relative_url }}" alt="">

	<nav class="inner">
		<ul class="main">
			{% for item in site.pages %}
			{% if item.category == "main" %}
				<li class="{% if item.url == page.url %}current{% endif %}">
					<a href="{{ item.url | relative_url }}">{{ item.title }}</a>
				</li>
			{% endif %}
			{% endfor %}
		</ul>
		<a href="https://opleiding-babymassage.nl/rgdb/docent-zoeken">
			<img src="{{ '/assets/rgdb.png' | relative_url }}">
			<img src="{{ '/assets/rgdb2.png' | relative_url }}">
		</a>
		<ul class="sub">
			{% for item in site.pages %}
			{% if item.category == "sub" %}
				<li class="{% if item.url == page.url %}current{% endif %}">
					<a href="{{ item.url | relative_url }}">{{ item.title }}</a>
				</li>
			{% endif %}
			{% endfor %}
			<li>
				<a href="mailto:inekebaaij@gmail.com">inekebaaij@gmail.com</a>
			</li>
		</ul>
	</nav>
</footer>
